.speaker-heading {
    h1 {
      font-family: "Phudu Variable", system-ui;
    }
  }
  
  .speaker {
    height: 100%;
    justify-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    //overflow: hidden;
    display: flex;
    padding: 20px;
  
    .speaker-name {
      h2 {
        font-family: "Phudu Variable", system-ui;
        font-weight: bold;
        font-size: 48px;
  
        @media (min-width: 640px) {
          font-size: 50px;
        }
  
        @media (min-width: 768px) {
          font-size: 52px;
        }
  
        @media (min-width: 1024px) {
          font-size: 55px;
        }
  
        @media (min-width: 1280px) {
          font-size: 61px;
        }
      }
    }
  
    .speaker-detail {
      h3 {
        font-family: 'Platypi Variable', sans-serif;
        font-weight: bold;
        font-size: 18px;
        opacity: 80%;
  
        @media (min-width: 640px) {
          font-size: 15px;
        }
  
        @media (min-width: 768px) {
          font-size: 16px;
        }
  
        @media (min-width: 1024px) {
          font-size: 18px;
        }
  
        @media (min-width: 1280px) {
          font-size: 20px;
        }
      }
  
      h4 {
        font-family: "Inter", sans-serif;
        font-size: 10px;
      }
    }
  
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      transition: transform 0.3s ease;
  
      svg {
        display: block;
      }
  
      &:hover {
        transform: scale(1.1);
      }
  
      &:active {
        transform: scale(1);
      }
    }
  
    .image-container {
      display: flex;
      justify-content: center;
      height: auto;
      //object-fit: cover;
      //overflow: hidden;
    }
  
    &.speaker-1,
    &.speaker-4,
    &.speaker-7,
    &.speaker-10 {
      background: #EC1014;
      color: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
    }
  
    &.speaker-2,
    &.speaker-5,
    &.speaker-8,
    &.speaker-11 {
      background: #FFFBF6;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
  
    }
  
    &.speaker-3,
    &.speaker-6,
    &.speaker-9,
    &.speaker-12 {
      background: #141414;
      color: #FFFFFF;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
  
  .speaker-overlay-wrap {
    position: fixed;
    display: block;
    //justify-content: flex-end;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100vh;
    z-index: 99990;
    margin-top: 62px;
  
  
    @media (min-width: 768px) {
      margin-top: 72px;
    }
  
    @media (min-width: 1024px) {
      margin-top: 82px;
    }
  }
  
  
  .close-button {
    position: absolute;
    display: flex;
    top: 50%;
    right: 42%;
    bottom: auto;
    left: auto;
  
  
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 4;
  
    &:hover {
      opacity: 80%;
    }
  
    &:active {
      opacity: 50%;
    }
  }
  
  .overlay-wrapper {
    position: absolute;
    z-index: 3;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
    padding-bottom: 4em;
    background-color: #000;
  
  }
  
  .background-wrapper {
    //background-color: #EC1014;
  }
  
  
  .speaker-info {
    flex: none;
    width: 100%;
    height: 40rem;
    display: block;
    position: relative;
    z-index: 4;
  
  
  
  
    .speaker-img {
      z-index: 3;
      position: relative;
      object-fit: cover;
      object-position: 50% 0%;
      //width: 100%;
      max-width: none;
      //height: 100%; 
      padding-left: 4em;
      padding-right: 4em;
      padding-top: 2em;
    }
  }
  
  //Color background
  .speaker-red {
    background: #EC1014;
  }
  
  .speaker-red-black {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%), #EC1014;
  }
  
  .speaker-detail-content {
    z-index: 5;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 9em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  
    .speaker-name-detail {
      //align-self: flex-start;
      color: #FFFFFF;
  
  
      h2 {
        font-family: "Phudu Variable", system-ui;
        font-weight: bold;
        font-size: 61px;
        text-align: start;
  
      }
    }
  
    h3 {
      font-family: 'Platypi Variable', sans-serif;
      font-weight: bold;
      font-size: 20px;
      opacity: 80%;
      color: #FFFFFF;
    }
  
    p {
      font-family: "Inter", sans-serif;
      font-size: 10px;
      color: #FFFFFF;
    }
  }
  
  .line {
    //position: absolute;
    width: 100%;
    border: 1px solid #FFFFFF;
    margin-bottom: 16px;
  
  }
  
  .speaker-story {
    padding-left: 4em;
    padding-right: 4em;
    position: relative;
    z-index: 2;
  
  
    h4 {
      font-family: "Inter", sans-serif;
      font-size: 24px;
      font-style: italic;
      font-weight: 600;
      line-height: 130%;
      text-transform: uppercase;
      color: #FFFFFF;
  
  
    }
  
    .para1-speakers {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  
    .para2-speakers {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      color: #FFFFFF;
      padding-bottom: 6em;
      line-height: 1.5;
  
    }
  }
  
  .blur-bg {
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }