.container {
    white-space: nowrap;

    h1 {
        font-family: 'Phudu Variable', system-ui;
    }
}

.box-text {
    p {
        font-family: 'Platypi Variable', sans-serif;
    }

}

.text_container {
    display: flex;
    white-space: nowrap; 
}



/* Keyframes for sliding left */
@keyframes slideLeft {
    0% {
        transform: translateX(var(--start-position));
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Keyframes for sliding right */
@keyframes slideRight {
    0% {
        transform: translateX(var(--start-position));
    }

    100% {
        transform: translateX(100%);
    }
}

/* Apply slideLeft animation to elements with class .slide-left */
.slide-left {
    animation: slideLeft 400s infinite;
}

/* Apply slideRight animation to elements with class .slide-right */
.slide-right {
    animation: slideRight 400s infinite;
}

.button-edit {
    color: rgba(3, 14, 245, 1);
    background: rgba(0, 255, 195, 1);
    font-family: 'Platypi Variable', serif;

}