.container {
    white-space: nowrap;

    h1 {
        font-family: 'Phudu Variable', system-ui;
    }
}

.box-text {
    p {
        font-family: 'Inter', sans-serif;
    }

}
.text_container {
  display: flex;
  white-space: nowrap; 
}


.button-edit {
    color: rgba(3, 14, 245, 1);
    background: rgba(0, 255, 195, 1);
    font-family: 'Platypi Variable', serif;

}