
.page-2-content {
    font-family: 'Platypi Variable', serif;
    // transform: translate(-50%, -50%);
}

.text-container{
    font-family: 'Platypi Variable', serif;
}


.dissolve-effect {
    animation: dissolve 5s forwards;
}

.second-text {

    @media screen and (min-width: 1700px) {
        left: 30% !important;
    }

    @media screen and (min-width: 1600px) {
        left: 22% !important;
    }
}

@keyframes dissolve {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}





