.page-1 {
    align-items: center;
    justify-content: center;

    .page-1-content {
        font-family: 'Inter', sans-serif;
    }

    .content-interaction {
        font-family: 'Inter', sans-serif;


        .text-position-1,
        .text-position-2,
        .text-position-3,
        .text-position-4,
        .text-position-5 {
            opacity: 0;
            transition: all 0.2s ease-in;
        }

        .text-position-1:hover,
        .text-position-2:hover,
        .text-position-3:hover,
        .text-position-4:hover,
        .text-position-5:hover {
            opacity: 0.3;
        }
    }
}

.dissolve-effect {
    animation: dissolve 5s forwards;
}

@keyframes dissolve {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}