* {
    box-sizing: border-box;

    .home {
        display: block;
        overflow-x: hidden;
        position: relative;



        .page-1 {
            position: relative;
            display: grid;
            place-items: center;


            .page-1-content {
                font-family: 'Inter', sans-serif;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1; // Ensure it's above the col elements

                font-size: 40px;
            }

            .content-interaction {
                font-family: 'Inter', sans-serif;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                //color: rgba(0, 0, 0, 0);
                z-index: 2;
                font-size: 135px;
                width: 100%;

                .text-position-1 {
                    position: absolute;
                    bottom: 150px;
                    left: 40px;
                }

                .text-position-2 {
                    position: absolute;
                    bottom: 150px;
                    right: 30px;
                }

                .text-position-3 {
                    position: absolute;
                    top: 50px;
                    right: 400px;
                }

                .text-position-4 {
                    position: absolute;
                    top: 250px;
                    right: 100px;
                }

                .text-position-5 {
                    position: absolute;
                    top: 250px;
                    left: 40px;

                }

                .text-position-1,
                .text-position-2,
                .text-position-3,
                .text-position-4,
                .text-position-5 {
                    opacity: 0;
                    transition: all 0.2s ease-in;
                }

                .text-position-1:hover,
                .text-position-2:hover,
                .text-position-3:hover,
                .text-position-4:hover,
                .text-position-5:hover {
                    opacity: 0.3;
                }
            }
        }

        .page-2-bg {
            position: relative;
            display: grid;
            place-items: center;
        }

        .page-2-content {
            display: block;
            font-family: 'Platypi Variable', serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        .totuong-content h2 {
            font-size: 40px;
            width: 100%;
        }

        .totuong-content p {
            margin-top: 30px;
            font-size: 30px;
            width: 100%;
        }


        .container {
            height: 902px;
            background: white;
        }

        .page-3-bg {
            position: relative;
            display: grid;
            place-items: center;
        }



        .page-3-content {
            display: block;
            font-family: 'Platypi Variable', serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        .box-1{
            background: #FFF14D;
        }
        .box-2{
            background: #4F56F8;
        }
        .box-3{
            background: #3FF1C7;
        }
        .box-4{
            background: #FF4DD6;
        }

    }

    .dissolve-effect {
        animation: dissolve 5s forwards; 
    }
    
    @keyframes dissolve {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;     
        }
    }
    

    @keyframes flash {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }

        100% {
            opacity: 1;
            transform: translateX(-100);
        }
    }

    .container {
        width: 300px;
        height: 300px;
        display: flex;
        place-content: center;
        place-items: center;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 30px;
      }
      
      .item {
        width: 150px;
        height: 150px;
        background: white;
        border-radius: inherit;
      }
      


}