@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.interactive {
    font-family: 'PhuDu Variable', sans-serif;

    .ant-radio-wrapper {

        .ant-radio {
            display: none
        }
    }
    h1 {
        font-family: 'Phudu Variable', sans-serif;
    }
}

.page-2 {
    h1 {
        font-family: 'Phudu Variable', sans-serif;
    }
    button{
        font-family: 'Phudu Variable', sans-serif;
    }
}

.page-3{
    h1, h2 {
        font-family: 'Phudu Variable', sans-serif;
    }
    p{
        font-family: 'Inter', sans-serif;
    }
}

.poster {
    .posterTxt {
        font-family: 'PhuDu Variable', sans-serif;

        .posterName {
            font-family: 'Playwrite DK Loopet Variable', cursive;
        }
    }
}