* {
    .primary-nav {
        /* Styles for primary navigation */
        font-family: "Inter", sans-serif;
        font-size: 20px;
        height: 96px;
        display: flex;

        .show-down-box {
            /* Styles for dropdown box */
            width: fit-content;
            background-color: #1d1d1d;
            box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.1);

            .drop-divider {
                margin: 10px 0;
                border: 1px solid rgba(255, 255, 255, 0.5);
            }

            a {
                color: white;
            }

            .drop-sec-text {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .ticket-button {
            /* Styles for ticket button */
            background: #c30121;
            font-family: "Phudu Variable", system-ui;
            font-weight: bold;
            color: white;
            height: 47px;
            width: 151px;
        }
    }
}