.container-footer {
    background: #f6f6f6;
}

.main-footer {

    .footer-left{
        .facebook {
            border: 1px solid rgba(236, 16, 20, 1);
        }
    
        .instagram {
            border: 1px solid rgba(236, 16, 20, 1);
        }

        .gmail{
            border: 1px solid rgba(236, 16, 20, 1);
        }
    
        .red {
            background: rgba(236, 16, 20, 1);
        }

    }
}

.sub-footer {
    border-top: 1px solid rgba(33, 33, 33, .16);

    h2{
        font-family: 'Inter', sans-serif;
    }
}
