

.date {
    .ant-radio-wrapper {
        .ant-radio {
            display: none;
        }
    }
}

.session {
    .bg-ticket{
        background: #FFFBF6;
    }
    .ant-checkbox-wrapper {
        // height: fit-content;
        // padding: 0.25rem 0;
        // border-width: 1px;
        // border-radius: 0.25rem;
        // border-color: rgba(100, 116, 139, 0.5);
        // transition-property: all;
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        // transition-duration: 150ms;

        // &.ant-checkbox-wrapper-checked {
        //     border-width: 2px;
        //     border-color: rgb(59 130 246 / 1);
        // }

        // &.box-checked {
        //     border-width: 2px;
        //     border-color: rgb(59 130 246 / 1);
        // }

        .ant-checkbox {
            display: none;
        }
    }
}

