.members {
    will-change: transform;
}

.animate {
    animation: scrollUp 20s linear infinite;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}

h3 {
    font-family: 'Phudu Variable', system-ui;
}