@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    body {
        font-family: 'Platypi', serif !important;
    }

    .date {
        .ant-radio-wrapper {
            .ant-radio {
                display: none;
            }
        }
    }
    
    .session {
        .ant-checkbox-wrapper {
    
            .ant-checkbox {
                display: none;
            }
        }
    }
    
    
}


//! TITLE FONT: 'Phudu Variable', system-ui;