@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    body {
        font-family: 'Platypi', serif;
    }

    .session {
        .ant-radio-wrapper {
            .ant-radio {
                display: none;
            }
        }

        .ant-checkbox-wrapper {
            .ant-checkbox {
                display: none;
            }
        }
    }
}


//! TITLE FONT: 'Phudu Variable', system-ui;